<%= render 'sidebar' %>

<%= render 'header' %>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1>New user</h1>

<%= form_for :user, url: '/users' do |f| %>

  First name: <%= f.text_field :firstname %>
  Last name: <%= f.text_field :lastname %>
  Email: <%= f.text_field :email %>
  Admin: <%= f.check_box :admin %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>
  <%= link_to 'Back', '/users' %>

<% end %>

<%= render 'footer' %>
