<div class="container-full">
  <div class="container-fluid main-wrap">
    <div class="main-header">
        <div class="main-header-left">
          <% if current_user %>
            <p class="head-welcome">Welcome,</p>
            <p class="head-user"><%= current_user.firstname %> <%= current_user.lastname %></p>
          <% end %>
        </div>
        <% if current_user %>
          <%= link_to "Log out", '/logout' %>
          <%= link_to "Users", '/users' %>
        <% end %>
    </div>
    <div class="notice-box">
      <p id="notice"><%= notice %></p>
    </div>
    <div class="main-header-lower">
      <div class="b-head">
            <p class="b-type-h">TYPE</p>
            <p class="b-client-h">CLIENT</p>
            <div class="b-head-right">
              <p class="b-user-h">SELLER</p>
              <p class="b-date-h">CREATED</p>
              <p class="b-price-h">PRICE</p>
            </div>
          </div>
    </div>
    <div class="container-fluid main">
      <div class="row">
        <div class="col-sm-12">
